<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>eNotis+</title>
	
	<script src="/eNotisPlus_APP/js/material/material.min.js" charset="utf-8"></script>
	<script src="/eNotisPlus_APP/js/jquery-1.9.1.min.js" charset="utf-8"></script>
	<script src="/eNotisPlus_APP/js/common.js" charset="utf-8"></script>
	
	<link rel="import" id="link-include-header" href="/eNotisPlus_APP/include/include-header.html">
	
</head>
<body>
<!-- 본문 시작 -->
<!-- The drawer is always open in large screens. The header is always shown, even in small screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
	<header class="mdl-layout__header">
	<div class="mdl-layout__header-row">
		<span class="mdl-layout-title">날씨</span>
      	<div class="mdl-layout-spacer"></div>
			<nav class="mdl-navigation"> 
				<button	class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn_refresh">
					<i class="material-icons">refresh</i>
				</button>
			</nav>
		</div>
	</header>
<div id="include-leftMenu" class="mdl-layout__drawer"></div>
	<main class="mdl-layout__content">
	<div class="page-content card cardTemplate weather-forecast" hidden>
      <div class="city-key" hidden></div>
      <div class="card-last-updated" hidden></div>
      <div class="location"></div>
      <div class="date"></div>
      <div class="description"></div>
      <div class="current">
        <div class="visual">
          <div class="icon"></div>
          <div class="temperature">
            <span class="value"></span><span class="scale">°F</span>
          </div>
        </div>
        <div class="description">
          <div class="humidity"></div>
          <div class="wind">
            <span class="value"></span>
            <span class="scale">mph</span>
            <span class="direction"></span>°
          </div>
          <div class="sunrise"></div>
          <div class="sunset"></div>
        </div>
      </div>
      <div class="future">
        <div class="oneday">
          <div class="date"></div>
          <div class="icon"></div>
          <div class="temp-high">
            <span class="value"></span>°
          </div>
          <div class="temp-low">
            <span class="value"></span>°
          </div>
        </div>
        <div class="oneday">
          <div class="date"></div>
          <div class="icon"></div>
          <div class="temp-high">
            <span class="value"></span>°
          </div>
          <div class="temp-low">
            <span class="value"></span>°
          </div>
        </div>
        <div class="oneday">
          <div class="date"></div>
          <div class="icon"></div>
          <div class="temp-high">
            <span class="value"></span>°
          </div>
          <div class="temp-low">
            <span class="value"></span>°
          </div>
        </div>
        <div class="oneday">
          <div class="date"></div>
          <div class="icon"></div>
          <div class="temp-high">
            <span class="value"></span>°
          </div>
          <div class="temp-low">
            <span class="value"></span>°
          </div>
        </div>
        <div class="oneday">
          <div class="date"></div>
          <div class="icon"></div>
          <div class="temp-high">
            <span class="value"></span>°
          </div>
          <div class="temp-low">
            <span class="value"></span>°
          </div>
        </div>
        <div class="oneday">
          <div class="date"></div>
          <div class="icon"></div>
          <div class="temp-high">
            <span class="value"></span>°
          </div>
          <div class="temp-low">
            <span class="value"></span>°
          </div>
        </div>
        <div class="oneday">
          <div class="date"></div>
          <div class="icon"></div>
          <div class="temp-high">
            <span class="value"></span>°
          </div>
          <div class="temp-low">
            <span class="value"></span>°
          </div>
        </div>
      </div>
    </div>

	</main>
</div>
	<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" id="btn_writeMail">
	  <i class="material-icons">edit</i>
	</button>
<!-- 본문 끝 -->
<div id="include-body"></div>

</body>
<footer>
	<script type="text/javascript">

<!--------------------- common code start---------------------------->
	$("#include-leftMenu").load("/eNotisPlus_APP/include/include-leftMenu.html");
	$("#include-body").load("/eNotisPlus_APP/include/include-body.html");
<!--------------------- common code end ----------------------------->

$(document).ready(function(){
	if (!navigator.onLine){ alert("OFFLINE"); return false;}	// network Check
	
	$("#btn_writeMail").click(function(){
		common.openWriteMail();
	});
});

var common = {
		// edit 버튼 클릭
		openWriteMail : function(obj){
			var comSubmit = new ComSubmit();
            comSubmit.setUrl("/eNotisPlus_APP/components/mail/writeMail.html");
            comSubmit.setMethod("GET");
            comSubmit.submit();
		}
}		
	</script>

</footer>
</html>