<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>eNotis+</title>
	
	<script src="/eNotisPlus_APP/js/material/material.min.js" charset="utf-8"></script>
	<script src="/eNotisPlus_APP/js/jquery-1.9.1.min.js" charset="utf-8"></script>
	<script src="/eNotisPlus_APP/js/common.js" charset="utf-8"></script>
	
	<link rel="import" id="link-include-header" href="/eNotisPlus_APP/include/include-header.html">
	
	<style>
	    #btn_writeMail {
	      position: fixed;
	      display: block;
	      right: 0;
	      bottom: 0;
	      margin-right: 20px;
	      margin-bottom: 20px;
	      z-index: 900;
	    }
	</style>
</head>
<body>
<!-- 본문 시작 -->
<!-- The drawer is always open in large screens. The header is always shown, even in small screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
	<header class="mdl-layout__header">
	<div class="mdl-layout__header-row">
		<span class="mdl-layout-title">메일</span>
      	<div class="mdl-layout-spacer"></div>
      	<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp">
        </div>
      </div>
    </div>
	</header>
<div id="include-leftMenu" class="mdl-layout__drawer"></div>
	<main class="mdl-layout__content">
		<div class="page-content">
	    	<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
			  <thead>
			    <tr>
			      <th class="mdl-data-table__cell--non-numeric">제목</th>
			      <th>보낸사람</th>
			      <th>받은시간</th>
			      <th></th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr id="idx_1" name="idx_1">
			      <td class="mdl-data-table__cell--non-numeric">[SMOS] 회원데이터 생성, 컨텐츠복구</td>
			      <td>김지환</td>
			      <td>2017년 12월 16일 16:58</td>
			      <td></td>
			    </tr>
			    <tr id="idx_2" name="idx_2">
			      <td class="mdl-data-table__cell--non-numeric">수학 C과정 18세트 채점 데이터 추출결과입니다.</td>
			      <td>유성현</td>
			      <td>2017년 12월 14일 13:50</td>
			      <td></td>
			    </tr>
			    <tr id="idx_3" name="idx_3">
			      <td class="mdl-data-table__cell--non-numeric">프리미엄 김치 천년동안, 역시 탁월한 선택이었어요</td>
			      <td>박소희</td>
			      <td>2017년 12월 14일 11:37</td>
			      <td></td>
			    </tr>
			    <tr id="idx_4" name="idx_4">
			      <td class="mdl-data-table__cell--non-numeric">Fwd:12월 정기PM 계획서입니다.</td>
			      <td>김지환</td>
			      <td>2017년 12월 13일 17:19</td>
			      <td></td>
			    </tr>
			  </tbody>
			</table>
	    </div>
	</main>
</div>
	<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" id="btn_writeMail">
	  <i class="material-icons">edit</i>
	</button>
<!-- 본문 끝 -->
<div id="include-body"></div>

</body>
<footer>
	<script type="text/javascript">

<!--------------------- common code start---------------------------->
	$("#include-leftMenu").load("/eNotisPlus_APP/include/include-leftMenu.html");
	$("#include-body").load("/eNotisPlus_APP/include/include-body.html");
<!--------------------- common code end ----------------------------->

$(document).ready(function(){
	if (!navigator.onLine){ alert("OFFLINE"); return false;}	// network Check
	
    $("#idx_1").on("click", function(e){ //row 클릭
        e.preventDefault();
        fn_openMailDetail();
    });
	
	$("#btn_writeMail").click(function(){
		common.openWriteMail();
	});
});
 
function fn_openMailDetail(){
    var comSubmit = new ComSubmit();
    comSubmit.setUrl("/eNotisPlus_APP/components/mail/viewDetail.html");
    comSubmit.setMethod("GET");
    comSubmit.submit();
}

var common = {
		// edit 버튼 클릭
		openWriteMail : function(obj){
			var comSubmit = new ComSubmit();
            comSubmit.setUrl("/eNotisPlus_APP/components/mail/writeMail.html");
            comSubmit.setMethod("GET");
            comSubmit.submit();
		}
}		
	</script>

</footer>
</html>