<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>eNotis+</title>
	
	<script src="/eNotisPlus_APP/js/material/material.min.js" charset="utf-8"></script>
	<script src="/eNotisPlus_APP/js/jquery-1.9.1.min.js" charset="utf-8"></script>
	<script src="/eNotisPlus_APP/js/common.js" charset="utf-8"></script>
	
	<link rel="import" id="link-include-header" href="/eNotisPlus_APP/include/include-header.html">
	
	<style>
	    #btn_writeMail {
	      position: fixed;
	      display: block;
	      right: 0;
	      bottom: 0;
	      margin-right: 20px;
	      margin-bottom: 20px;
	      z-index: 900;
	    }
	</style>
</head>
<body>
<!-- 본문 시작 -->
<!-- The drawer is always open in large screens. The header is always shown, even in small screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
	<header class="mdl-layout__header">
	<div class="mdl-layout__header-row">
		<span class="mdl-layout-title">메일</span>
      	<div class="mdl-layout-spacer"></div>
      	<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp">
        </div>
      </div>
    </div>
	</header>
<div id="include-leftMenu" class="mdl-layout__drawer"></div>
	<main class="mdl-layout__content">
		<div class="page-content">
	    	<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
				<colgroup>
					<col width="10%" />
					<col width="*" />
					<col width="20%" />
					<col width="15%" />
					<col width="5%" />
				</colgroup>
				<thead>
			    <tr>
			      <th class="mdl-data-table__cell--non-numeric">제목</th>
			      <th>보낸사람</th>
			      <th>받은시간</th>
			      <th></th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr id="index" name="index">
			      <td class="mdl-data-table__cell--non-numeric">메일_제목입니다.</td>
			      <td>보낸 사람 이름</td>
			      <td>10:54 AM</td>
			      <td></td>
			    </tr>
			  </tbody>
			</table>
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Material</th>
      <th>Quantity</th>
      <th>Unit price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
      <td>25</td>
      <td>$2.90</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
      <td>50</td>
      <td>$1.25</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
      <td>10</td>
      <td>$2.35</td>
    </tr>
  </tbody>
</table>
	    </div>
	</main>
</div>
	<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" id="btn_writeMail">
	  <i class="material-icons">edit</i>
	</button>
<!-- 본문 끝 -->
<div id="include-body"></div>

</body>
<footer>
	<script type="text/javascript">

<!--------------------- common code start---------------------------->
	$("#include-leftMenu").load("/eNotisPlus_APP/include/include-leftMenu.html");
	$("#include-body").load("/eNotisPlus_APP/include/include-body.html");
<!--------------------- common code end ----------------------------->

$(document).ready(function(){
	if (!navigator.onLine){ alert("OFFLINE"); return false;}	// network Check
	
    $("tr[name='index']").on("click", function(e){ //row 클릭
        e.preventDefault();
        fn_openMailDetail($(this));
    });
	
	$("#btn_writeMail").click(function(){
		common.openWriteMail();
	});
});
 
function fn_openMailDetail(obj){
    var comSubmit = new ComSubmit();
    comSubmit.setUrl("/eNotisPlus_APP/components/mail/viewDetail.html");
    comSubmit.addParam("idx", obj.attr("id"));
    comSubmit.submit();
}

var common = {
		// edit 버튼 클릭
		openWriteMail : function(obj){
			var comSubmit = new ComSubmit();
            comSubmit.setUrl("/eNotisPlus_APP/components/mail/writeMail.html");
            comSubmit.setMethod("GET");
            comSubmit.submit();
		}
}		
	</script>

</footer>
</html>