.layer {
	position: absolute;
	top: -20%;
	right: 0;
	bottom: 0;
	left: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-moz-box-pack: center;
	-moz-box-align: center;
	-ms-box-pack: center;
	-ms-box-align: center;
}

.layer .content {
	background: #fff;
	align-content: center;
}

.demo-card-square.mdl-card {
	width: 320px;
	height: 320px;
}

.demo-card-square>.mdl-card__title {
	color: #fff;
	background: bottom right 15% no-repeat rgba(224, 224, 224, 0.25);
}

.mdl-button--accent {
	width: 100%;
	height: 100%;
}

table {
	border-spacing: 0 10px;
	color: black;
}

td {
	height: 40px;
}

.login_input {
	width: 100%;
	height: 100%;
	border: 1px solid #d9d2c7;
	text-indent: 10px;
	background-color: white;
}

.titleText {
	height: 80px;
	text-align: center;
	font-size: 80px;
}

.onepassText {
	font-weight: bold;
	font-size: x-large;
	text-align: left;
}

/* 컨텐츠 페이지 여백 */
.mdl-layout__content .page-content { padding:8px }
.mdl-layout__content .page-content .mdl-card { margin:10px }


/* 메뉴 설정위한 */
	.mdl-layout-title a:link    { color: red; text-decoration: none;}
	.mdl-layout-title a:visited { color: black; text-decoration: none;}
	.mdl-layout-title a:hover   { color: black; text-decoration: none; }

	.mdl-layout__drawer-button > .material-icons { margin-top: 10px;}
	
	/* user 프로필 */
	.demo-avatar {
	  width: 60px;
	  height: 60px;
	  border-radius: 30px;
	}
	/* user 프로필 */
	.demo-drawer-header {
	  box-sizing: border-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-flex-direction: column;
	      -ms-flex-direction: column;
	          flex-direction: column;
	  -webkit-justify-content: flex-end;
	      -ms-flex-pack: end;
	          justify-content: flex-end;
	  padding: 16px 16px 0 16px;
	  height: 151px;
	}
	/* user 프로필 */
	.demo-avatar-dropdown {
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  position: relative;
	  -webkit-flex-direction: row;
	      -ms-flex-direction: row;
	          flex-direction: row;
	  -webkit-align-items: center;
	      -ms-flex-align: center;
	          align-items: center;
	  width: 100%;
	}
	ul { list-style:none; padding-left:0px; }
	
